<ion-content>
    <div class="container">
        <div class="title">
            <h1>Recommended Exercises</h1>
        </div>
        <div class="cardExercises">
            <ion-card>
                <img src="https://phantom-marca.unidadeditorial.es/da8dd21c1774c1158ad04cee7372bbba/crop/0x96/1024x670/resize/1320/f/jpg/assets/multimedia/imagenes/2022/02/12/16446959523240.jpg" />
                <ion-card-header>
                    <ion-card-title>Madison, WI</ion-card-title>
                </ion-card-header>
                <ion-card-content>
                    Founded in 1829 on an isthmus between Lake Monona and Lake Mendota, Madison was named the capital of the Wisconsin Territory in 1836.
                </ion-card-content>
            </ion-card>
            <ion-card>
                <img src="https://phantom-marca.unidadeditorial.es/da8dd21c1774c1158ad04cee7372bbba/crop/0x96/1024x670/resize/1320/f/jpg/assets/multimedia/imagenes/2022/02/12/16446959523240.jpg" />
                <ion-card-header>
                    <ion-card-title>Madison, WI</ion-card-title>
                </ion-card-header>
                <ion-card-content>
                    Founded in 1829 on an isthmus between Lake Monona and Lake Mendota, Madison was named the capital of the Wisconsin Territory in 1836.
                </ion-card-content>
            </ion-card>
            <ion-card>
                <img src="https://phantom-marca.unidadeditorial.es/da8dd21c1774c1158ad04cee7372bbba/crop/0x96/1024x670/resize/1320/f/jpg/assets/multimedia/imagenes/2022/02/12/16446959523240.jpg" />
                <ion-card-header>
                    <ion-card-title>Madison, WI</ion-card-title>
                </ion-card-header>
                <ion-card-content>
                    Founded in 1829 on an isthmus between Lake Monona and Lake Mendota, Madison was named the capital of the Wisconsin Territory in 1836.
                </ion-card-content>
            </ion-card>
            <ion-card>
                <img src="https://phantom-marca.unidadeditorial.es/da8dd21c1774c1158ad04cee7372bbba/crop/0x96/1024x670/resize/1320/f/jpg/assets/multimedia/imagenes/2022/02/12/16446959523240.jpg" />
                <ion-card-header>
                    <ion-card-title>Madison, WI</ion-card-title>
                </ion-card-header>
                <ion-card-content>
                    Founded in 1829 on an isthmus between Lake Monona and Lake Mendota, Madison was named the capital of the Wisconsin Territory in 1836.
                </ion-card-content>
            </ion-card>
        </div>
    </div>
</ion-content>