<app-navheader></app-navheader>
<ion-content>
  <div class="container">
    <div class="title"><h1>Recommended Recipes</h1></div>
    <div class="cardRecipes">
      <ion-card style="width: 30vw; ">
        <img src="../../assets/food1.png" />
        <ion-card-header>
          <ion-card-title>Tacos Veganos</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          320 cal
        </ion-card-content>
      </ion-card>
      <ion-card style="width: 30vw;">
        <img src="../../assets/food1.png" />
        <ion-card-header>
          <ion-card-title>Tacos Veganos</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          320 cal
        </ion-card-content>
      </ion-card>
    </div>
  </div>
</ion-content>
