<app-navheader></app-navheader>
<ion-content>
<div class="container">
  <div class="title">
    <h1>Today´s readings</h1>
  </div>
  <div class="containerValues">
    <div class="weightReading">
      <div class="value">
        <h1>70 <label>Kg</label></h1>
      </div>
      <div class="labelMeas"><label>Weight</label></div>
    </div>
    <div class="heightReading">
      <div class="value">
        <h1>170 <label>Cm</label></h1>
      </div>
      <div class="labelMeas"><label>Height</label></div>
    </div>
  </div>
  <div class="buttonProfile">
    <ion-button size="large" style="width: 100%; font-size: 15px;" >Accept</ion-button>
  </div>
</div>
</ion-content>
