<ion-content>
  <div class="login">
    <ion-img src="../../assets/logo.png"></ion-img>
    <div class="formGroup">
      <div class="form">
        <ion-title color="dark">
          <h2>Login</h2>
        </ion-title>
        <div class="loginEmail">
          <label>Email</label>
          <input #username type="text" />
        </div>
        <div class="loginPassword">
          <label>Password</label>
          <input #password type="password" />
        </div>
      </div>
      <div class="buttonLogIn_signUp">
        <ion-button size="large" style="width: 80%" (click)="login()">Log in</ion-button>
        <label
          >Don´t have an account?<ion-label color="primary">
            <a href="#">Sign up</a></ion-label
          ></label
        >
      </div>
    </div>
  </div>
</ion-content>
