<ion-content>
  <div class="signUpForm">
    <div class="title">
      <h2>Sign up</h2>
    </div>
    <div class="formContent">
      <div class="fields">
        <ion-item class="inputItem">
          <ion-input placeholder="Email"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input placeholder="First Name"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input placeholder="Last Name"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input placeholder="Date of Birth"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input placeholder="Height (Cm)"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input placeholder="Weight (Kg)"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input placeholder="Password"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input placeholder="Confirm password"></ion-input>
        </ion-item>
      </div>
      <div class="buttonSignUp">
        <ion-button size="large">Sign Up</ion-button>
      </div>
    </div>
  </div>
</ion-content>
