<app-navheader></app-navheader>
<ion-content>
  <div class="profileForm">
    <div class="title">
      <h2>
        Profile
      </h2>
    </div>
    <div class="formContent">
      <div class="fields">
        <ion-item class="inputItem">         
          <ion-input placeholder="0318120903@miutt.edu.mx"></ion-input>
        </ion-item>
        <ion-item>         
          <ion-input placeholder="Johar"></ion-input>
        </ion-item>
        <ion-item>         
          <ion-input placeholder="Terraza"></ion-input>
        </ion-item>
        <ion-item>         
          <ion-input placeholder="21/11/1999"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Goal Weight</ion-label>
          <ion-input></ion-input>
        </ion-item>      
      </div>
      <div class="buttonProfile">
        <ion-button size="large" style="width: 100%; font-size: 15px;" >Accept</ion-button>
      </div>
    </div>    
  </div>
</ion-content>
