

<ion-content [fullscreen]="true">
  <div class="homeContainer">
    <div class="homeContainerHeight">
      <div class="heightImg">
        <img src="../../assets/ruler.png" alt="">
      </div>
      <h2>
        1.75
      </h2>
      <div class="heightContainer">
        <h3>Height</h3>
      </div>
    </div>
    <div class="homeContainerWeight">
      <div class="homeContainerWeightCurrent">
        <h2>
          70 kg
        </h2>
        <h3>Current weight</h3>
      </div>
      <div class="homeContainerWeightImg">
        <img src="../../assets/weight.png" alt="">
      </div>
      <div class="homeContainerWeightCurrent">
        <h2>
          N/A
        </h2>
        <h3>Goal weight</h3>
      </div>
    </div>
    <div class="IMC_Status">
      <div class="IMC">
        <h1>22.9</h1>
        <h3>IMC</h3>
      </div>
      <div class="healthStatus">
        <img src="../../assets/status.png" alt="">
        <h1>Health Status</h1>
      </div>
    </div>
  </div>
</ion-content>
