

.homeContainer{
  padding: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #c4c4c4;
  gap: 20px;
  font-family: Big Shoulders ;
  color: #0070CB;
  font-weight: bold;
  img{
    width: 3rem;
  }
  .homeContainerHeight{
    margin-top: 55px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    background: #fff;
    width: 100%;
    height: 5em;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    .heightImg{
      display: flex;
      justify-content: center;
    }
    
    .heightContainer{
      display: flex;
      align-items: flex-end;
      justify-content: center;
    }
  }
  .homeContainerWeight{
    background: #fff;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    
    .homeContainerWeightCurrent{
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      

    }
    .homeContainerWeightImg{
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .IMC_Status{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 10px;
    .IMC{
      background: #fff;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      border-radius: 5px;
    }
    .healthStatus{
      background: #fff;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      border-radius: 5px;

    }
  }

}
