<app-navheader></app-navheader>
<ion-content [fullscreen]="true">
    <div class="homeContainer">
        <div class="homeContainerHeight">
            <div class="heightImg">
                <img src="../../assets/ruler.png" alt="" />
            </div>
            <h2>{{user.height / 100}} m</h2>
            <div class="heightContainer">
                <h3>Height</h3>
            </div>
        </div>
        <div class="homeContainerWeight">
            <div class="homeContainerWeightCurrent">
                <h2>{{user.weight}} kg</h2>
                <h3>Current weight</h3>
            </div>
            <div class="homeContainerWeightImg">
                <img src="../../assets/weight.png" alt="" />
            </div>
            <div class="homeContainerWeightCurrent">
                <h2>N/A</h2>
                <h3>Goal weight</h3>
            </div>
        </div>
        <div class="IMC_Status">
            <div class="IMC">
                <h1>{{imc}}</h1>
                <h3>IMC</h3>
            </div>
            <div class="healthStatus">
              <h1 class="{{status.class}}"><i class="fa fa-heartbeat" aria-hidden="true" style="font-size: 35px" ></i></h1>
                <h3>{{status.message}}</h3>
            </div>
        </div>
    </div>
</ion-content>

  
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button >
        <ion-icon style="color: #1885FC;" name="stats-chart-outline"></ion-icon>
        <ion-label style="color: #1885FC;">Statistics</ion-label>
      </ion-tab-button>
  
      <ion-tab-button >
        <ion-icon style="color: #1885FC;" name="person-circle"></ion-icon>
        <ion-label style="color: #1885FC;">Profile</ion-label>
      </ion-tab-button>
  
      <a routerLink="/reading">
        <ion-tab-button >
          <ion-icon style="color: #1885FC;" name="add-circle-outline" ></ion-icon>
        </ion-tab-button>
      </a>
      
  
      <ion-tab-button >
        <ion-icon style="color: #1885FC;" name="barbell-outline"></ion-icon>
        <ion-label style="color: #1885FC;">Exercises</ion-label>
      </ion-tab-button>

      <ion-tab-button >
        <ion-icon style="color: #1885FC;" name="book-outline"></ion-icon>
        <ion-label style="color: #1885FC;" >Recipes</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
